<header class="site-header">
    <div class="site-header-item">
        <a class="site-header-logo" href="/">
            <img src="/static/logo.png" alt="logo">
            <span>Mint Webboard</span>
        </a>
    </div>
    <div class="site-header-item">
        <a class="button button-outlined" href="/p/new">สร้างโพสต์ใหม่</a>
    </div>
</header>