<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสต์สำเร็จ | '}}
<body>
    {{> siteHeader }}
        <section class="section">
            <div class="container">
                <h2>สร้างโพสต์สำเร็จ</h2>
                <p>โพสต์จะปรากฎที่หน้าแรก คุณสามารถกลับไปเปิดดู และคอมเม้นท์พูดคุยกับเพื่อนๆได้</p>
                <a class="button" href="/">กลับหน้าแรก</a>
            </div>
        </section>
    {{> siteFooter }}
</body>
</html>