<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสต์สำเร็จ | '}}
<body>
    {{> siteHeader }}
    <div>
        <h2>สร้างโพสต์สำเร็จ</h2>
        <p>โพสต์จะปรากฎที่หน้าแรก คุณสามารถกลับไปเปิดดู และคอมเม้นท์พูดคุยกับเพื่อนๆได้</p>
        <a href="/">กลับหน้าแรก</a>
    </div>
    {{> siteFooter }}
</body>
</html>